/*Null*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --index: calc(1vw + 1vh);
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.2;
  font-family: Poppins;
  font-size: 16px;
  color: #3F4644;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 15px;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-size: 42px;
  line-height: 1.4;
  font-weight: 700;
}

.text {
  color: #000;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.social__item {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social__item svg {
  max-width: 20px;
  max-height: 20px;
  fill: #969696;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  color: #969696;
}

.social__item svg {
  fill: #969696;
}

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* Wrapper for all connect elements.
 */

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  -webkit-transform-style: flat;
          transform-style: flat;
}

/* Offset direction
 */

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */

.noUi-vertical .noUi-origin {
  top: -100%;
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */

.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  right: -17px;
  top: -14px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */

.noUi-target {
  height: 6px;
  background-color: #eef1f3;
  max-width: 650px;
  border-radius: 50px;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background: #41ba7c;
}

/* Handles and cursors;
 */

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  width: 30px;
  height: 30px;
  background: #41ba7c;
  border: 3px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

/* Handle stripes;
 */

/* Disabled state;
 */

[disabled] .noUi-connect {
  background: #b8b8b8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

/* Base;
 *
 */

.noUi-pips,
.noUi-pips * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

/* Values;
 *
 */

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

/* Markings;
 *
 */

.noUi-marker {
  position: absolute;
  background: #ccc;
}

.noUi-marker-sub {
  background: #aaa;
}

.noUi-marker-large {
  background: #aaa;
}

/* Horizontal layout;
 *
 */

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
      transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
      transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

/* Vertical layout;
 *
 */

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
      transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
      transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  -ms-transform: translate(0, -18px);
      transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

.modal {
  display: none;
  top: 0;
  left: 0%;
  max-width: 700px;
  z-index: 3000;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #fff;
  -webkit-transform: translateY(-50%) scale(1.2);
      -ms-transform: translateY(-50%) scale(1.2);
          transform: translateY(-50%) scale(1.2);
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.modal.show {
  display: block;
  -webkit-transform: translateY(0) scale(1);
      -ms-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.modal .modal-dialog {
  background: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal .modal-header {
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal .modal-header-title {
  line-height: 1;
  margin-bottom: 0;
  font-size: 35px;
  font-weight: 700;
  font-style: italic;
}

.modal .close-btn {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 0;
  background: transparent;
  padding: 5px;
}

.modal .close-btn svg {
  width: 100%;
  height: 100%;
}

.modal .modal-body {
  padding: 0 30px 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.form-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 40px;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  margin-bottom: 25px;
}

.form-inputs__title {
  margin-bottom: 16px;
  font-size: 28px;
  font-weight: 700;
}

.form-inputs .text-lg.fw-medium {
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #41ba7c;
  position: absolute;
  background: #fff;
  left: 20px;
  top: -11px;
  padding: 0 3px;
}

.form-inputs .form-control {
  margin-bottom: 0;
}

.form-inputs > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 7.5px);
          flex: 0 1 calc(50% - 7.5px);
  position: relative;
}

.form-inputs .validation-message {
  background: rgba(255, 0, 0, 0.1);
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  padding: 5px;
  color: #a42a29;
  display: block;
}

.form-inputs__disclaimer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  font-size: 14px;
  line-height: 20px;
}

.form-inputs__disclaimer:not(:last-child) {
  margin-bottom: 10px;
}

.form-inputs__disclaimer:last-child {
  margin-top: 16px;
}

.form-inputs__disclaimer a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: underline;
}

.form-inputs__disclaimer a:hover {
  color: #41ba7c;
}

.progress-bar {
  background: rgba(27, 151, 106, 0.459);
  border-radius: 100px;
  height: 6px;
  margin-bottom: 30px;
}

.progress-bar .handle {
  width: 0%;
  height: 100%;
  background-color: #1b976a;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.fw-medium {
  margin-bottom: 35px;
  font-size: 28px;
  font-weight: 700;
}

.form-checks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.form-check-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.form-check-input:checked ~ .form-check-label {
  background: #1b976a;
  color: white;
}

.form-check-label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #1b976a;
  color: #1b976a;
  padding: 10px 20px;
  line-height: 1.2;
  border-radius: 5px;
  background: rgba(27, 151, 106, 0.05);
  font-weight: 500;
  font-size: 18px;
}

.form-control {
  width: 100%;
  border: 1px solid #000;
  padding: 12px 20px;
  outline: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 30px;
}

.thank-you-section {
  padding: 100px 0;
}

.page-section {
  padding: 70px 0;
  max-width: 900px;
  margin: auto;
}

.page-title {
  margin-bottom: 3rem;
}

.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
  margin-bottom: 1rem;
}

.page-content li + li {
  margin-top: 5px;
}

/* Medium devices (tablets, 768px and up) */

/* Large devices (desktops, 992px and up) */

/* X-Large devices (large desktops, 1200px and up) */

/* XX-Large devices (larger desktops, 1400px and up) */

/* XXX-Large devices (larger desktops, 1600px and up) */

.validation-message {
  color: red;
}

/* Buttons */

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: none;
  padding: 12px 24px;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn-sm {
  font-size: 13px;
  padding: 10px 15px;
}

.btn-primary {
  color: #fff;
  background-color: #1b976a;
  border-color: #1b976a;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background-color: #015a39;
  border-color: #015a39;
}

.header {
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}

.header__container {
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 222px;
          flex: 0 1 222px;
}

.header__logo img {
  max-width: 100%;
}

.header__number {
  font-size: 18px;
  font-family: "Poppins", "Roboto", sans-serif;
  font-weight: 700;
}

.header__number:hover {
  text-decoration: underline;
}

.main {
  min-height: 80vh;
  padding-bottom: 30px;
}

.main__container {
  margin-top: 80px;
}

.main__wrapper {
  position: relative;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}

.main__info._hide {
  display: none;
}

.main__title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 25px;
}

.main__value {
  font-weight: 700;
  font-size: 38px;
  color: #41ba7c;
  margin-bottom: 25px;
}

.progress-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 32px;
}

.progress-main__item {
  position: relative;
  z-index: 2;
  width: 15px;
  height: 15px;
  background: #fff97a;
  border-radius: 50%;
  border: 3px solid #41ba7c;
  position: relative;
}

.progress-main__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  top: calc(50% - 1.5px);
  left: 17px;
  background: #41ba7c;
}

.progress-main__item._complite {
  background: #41ba7c;
}

.slider-main {
  margin-top: 25px;
  max-width: 650px;
  padding: 0 15px;
  margin: 0 auto;
}

.slider-main__slider {
  margin-bottom: 15px;
}

.slider-main__values {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-main__button {
  margin: 0 auto;
  padding: 15px 40px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
  background-color: #41ba7c;
  border-radius: 1.8125rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 16px;
}

.slider-main__button:hover {
  border-color: #41ba7c;
  background: #fff;
  color: #41ba7c;
}

.help {
  background-color: rgb(241, 250, 250);
  padding-top: 98px;
  padding-bottom: 98px;
}

.help__container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 80px;
  text-align: center;
}

.help__title {
  position: relative;
}

.help__title::after {
  content: "";
  height: 6px;
  width: 145px;
  background-color: #41ba7c;
  position: absolute;
  top: calc(100% + 20px);
  left: calc(50% - 72.5px);
}

.description-help__text:not(:last-child) {
  margin-bottom: 5px;
}

.description-help__list {
  margin-bottom: 5px;
}

.description-help__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}

.description-help__icon {
  width: 22px;
  height: 22px;
  background: #41ba7c;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description-help__icon img {
  width: 10px;
  height: 10px;
}

.description-help__point {
  color: #41ba7c;
  font-size: 24px;
  line-height: 3rem;
  font-weight: 700;
}

.about {
  padding-top: 32px;
  padding-bottom: 64px;
}

.about__container {
  text-align: center;
  max-width: 1130px;
}

.about__header {
  margin-bottom: 64px;
}

.about__title {
  margin-bottom: 24px;
}

.about__icons {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
}

.about__icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about__icon img {
  max-width: 100%;
}

.contact__container {
  text-align: center;
}

.contact__title {
  display: inline-block;
  padding-bottom: 30px;
  margin-bottom: 20px;
  position: relative;
}

.contact__title::after {
  content: "";
  position: absolute;
  width: 165px;
  height: 6px;
  bottom: 0;
  left: calc(50% - 82.5px);
  background: #41ba7c;
}

.contact__subtitle {
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 32px;
  line-height: 1.5;
}

.contact__button {
  padding: 10px;
  display: inline-block;
  font-weight: 600;
  font-size: 19px;
  color: white;
  line-height: 1.2;
  max-width: 348px;
  background: #41ba7c;
  border-radius: 38px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid #41ba7c;
  margin-bottom: 40px;
}

.contact__button:hover {
  background: #fff;
  color: #41ba7c;
  border-color: #41ba7c;
}

.contact__image img {
  max-width: 100%;
}

.numbers {
  padding-top: 95px;
  padding-bottom: 95px;
}

.numbers__title {
  text-align: center;
  padding-bottom: 30px;
}

.numbers__columns {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 316px));
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  margin-bottom: 30px;
}

.numbers__link {
  line-height: 1.2;
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
}

.numbers__link:hover {
  text-decoration: none;
}

.columns-numbers__column {
  padding: 35px;
  background: rgba(65, 186, 123, 0.3);
}

.columns-numbers__title {
  line-height: 1.5;
  font-size: 28px;
  padding-bottom: 25px;
  position: relative;
  font-weight: 600;
  margin-bottom: 15px;
}

.columns-numbers__title::after {
  content: "";
  position: absolute;
  width: 53px;
  height: 7px;
  bottom: 0;
  left: 0;
  background: #41ba7c;
}

.columns-numbers__number {
  font-size: 56px;
  font-weight: 700;
  color: #41ba7c;
}

.message {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.message__text span {
  font-style: italic;
  font-weight: 700;
  font-size: clamp(2.25rem, 1.725rem + 1.2vw, 2.625rem);
  color: #41ba7c;
  display: block;
  margin-bottom: 5px;
  font-size: clamp(1rem, 0.65rem + 0.8vw, 1.25rem);
}

.footer {
  background: #212529;
  padding: 30px 0;
}

.footer__container {
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo {
  max-width: 250px;
}

.footer__logo img {
  max-width: 100%;
}

.footer__bottom {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__text {
  padding-bottom: 50px;
  font-size: 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  color: #969696;
  text-align: center;
}

.footer__text p {
  margin-bottom: 30px;
}

.menu-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  border-bottom: 1px solid #4f5255;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-footer__link {
  color: #41ba7c;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-footer__link:hover {
  color: #fff;
}

.social {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  color: #969696;
}

.social__item svg {
  color: #969696;
}

@media (min-width: 767.98px) {
  .footer__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .header .logo img {
    width: 190px;
  }

  .section-shape {
    height: 275px;
  }

  .middle-inner-section {
    padding-top: 50px;
  }

  .step-item .step-item-inner {
    text-align: left;
  }

  .testimonial-items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-bottom {
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    text-align: left;
  }
}

@media (min-width: 991.98px) {
  .social__item:hover svg {
    fill: #fff;
  }
}

@media (min-width: 992px) {
  .section-shape {
    height: 367px;
  }

  .hero-section {
    padding: 100px 0;
    height: 550px;
  }

  .static-loan-value {
    font-size: 14px;
  }

  .financing-options {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .step-item {
    margin: 0;
  }

  .step-item .step-item-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 15px;
  }

  .step-item p,
  .step-item a {
    font-size: 14px;
  }

  .steps-section-img {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .section-shape {
    height: 450px;
  }

  .hero-section {
    padding: 120px 0;
    height: 800px;
  }

  .hero-content h1 {
    line-height: 1;
  }

  .slider-section {
    padding-bottom: 120px;
  }

  .static-loan-value {
    font-size: 16px;
  }

  .steps-section {
    padding: 150px 0;
  }

  .steps-section .section-header {
    margin-bottom: 70px;
  }

  .steps-content-block .button-container {
    text-align: left;
    margin-left: 110px;
  }

  .steps-section-img {
    max-width: 45%;
  }

  .step-item {
    max-width: 550px;
  }

  .step-item:nth-child(1) .step-item-inner {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
        transform: translateX(100px);
  }

  .step-item:nth-child(2) .step-item-inner {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
        transform: translateX(50px);
  }

  .step-item .step-img {
    width: 115px;
  }

  .step-item p,
  .step-item a {
    font-size: 16px;
  }

  .testimonial-items {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    gap: 75px;
  }
}

@media (min-width: 1400px) {
  .section-shape {
    height: 500px;
  }

  .slider-section {
    padding-top: 0;
  }

  .step-item:nth-child(1) .step-item-inner {
    -webkit-transform: translateX(150px);
    -ms-transform: translateX(150px);
        transform: translateX(150px);
  }

  .step-item:nth-child(2) .step-item-inner {
    -webkit-transform: translateX(75px);
    -ms-transform: translateX(75px);
        transform: translateX(75px);
  }
}

@media (min-width: 1600px) {
  .section-shape {
    height: 700px;
  }

  .testimonial-section {
    padding-top: 100px;
  }
}

@media (max-width: 1480px) {
  .title {
    font-size: calc(27px + 15 * ((100vw - 320px) / 1160));
  }

  .form-inputs__title {
    font-size: calc(24px + 4 * ((100vw - 320px) / 1160));
  }

  .fw-medium {
    font-size: calc(24px + 4 * ((100vw - 320px) / 1160));
  }

  .main__container {
    margin-top: calc(30px + 50 * ((100vw - 320px) / 1160));
  }

  .main__title {
    font-size: calc(24px + 4 * ((100vw - 320px) / 1160));
  }

  .main__title {
    margin-bottom: calc(20px + 5 * ((100vw - 320px) / 1160));
  }

  .main__value {
    font-size: calc(32px + 6 * ((100vw - 320px) / 1160));
  }

  .main__value {
    margin-bottom: calc(20px + 5 * ((100vw - 320px) / 1160));
  }

  .slider-main {
    margin-top: calc(20px + 5 * ((100vw - 320px) / 1160));
  }

  .help {
    padding-top: calc(30px + 68 * ((100vw - 320px) / 1160));
  }

  .help {
    padding-bottom: calc(30px + 68 * ((100vw - 320px) / 1160));
  }

  .help__container {
    gap: calc(60px + 20 * ((100vw - 320px) / 1160));
  }

  .description-help__point {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1160));
  }

  .about {
    padding-bottom: calc(32px + 32 * ((100vw - 320px) / 1160));
  }

  .about__header {
    margin-bottom: calc(30px + 34 * ((100vw - 320px) / 1160));
  }

  .about__title {
    margin-bottom: calc(20px + 4 * ((100vw - 320px) / 1160));
  }

  .contact__title {
    padding-bottom: calc(15px + 15 * ((100vw - 320px) / 1160));
  }

  .contact__subtitle {
    margin-bottom: calc(20px + 12 * ((100vw - 320px) / 1160));
  }

  .contact__button {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1160));
  }

  .numbers {
    padding-top: calc(30px + 65 * ((100vw - 320px) / 1160));
  }

  .numbers {
    padding-bottom: calc(30px + 65 * ((100vw - 320px) / 1160));
  }

  .numbers__title {
    padding-bottom: calc(15px + 15 * ((100vw - 320px) / 1160));
  }

  .numbers__columns {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 1160));
  }

  .numbers__link {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1160));
  }

  .columns-numbers__column {
    padding: calc(20px + 15 * ((100vw - 320px) / 1160));
  }

  .columns-numbers__title {
    font-size: calc(24px + 4 * ((100vw - 320px) / 1160));
  }

  .columns-numbers__number {
    font-size: calc(46px + 10 * ((100vw - 320px) / 1160));
  }

  .message {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 1160));
  }

  .message {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 1160));
  }

  .footer__bottom {
    padding-top: calc(30px + 20 * ((100vw - 320px) / 1160));
  }

  .footer__text {
    padding-bottom: calc(30px + 20 * ((100vw - 320px) / 1160));
  }

  .menu-footer {
    padding-top: calc(30px + 20 * ((100vw - 320px) / 1160));
  }

  .menu-footer {
    padding-bottom: calc(30px + 20 * ((100vw - 320px) / 1160));
  }
}

@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 850px;
  }
}

@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }

  .help__container {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
}

@media (max-width: 700px) {
  .numbers__columns {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 550px) {
  .form-inputs {
    row-gap: 20px;
  }

  .form-inputs > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}